<head>
  <title>Kaikki jutut</title>
  <link />
</head>

<div id="main">
  <p>
    Kaikki jutut kronologisessa järjestyksessä, olkaapa hyvät.
  </p>

  <ul class="all-posts-list">
    <li>
      <a class="post-link" href=""><b class="post-name">Artikkelin nimi</b></a>
      <span class="post-rev">
        <!-- Luotu: <span class="post-rev-date">2.1.2014</span> -->
      </span>
      <span class="post-created">
        Muutettu: <span class="post-created-date">2.1.2014</span>
      </span>
      <ul class="tag-list-oneline" />
    </li>
  </ul>
</div>

<div id="sidebar">
  <ul class="navi-list" id="navigation">
    <li><a href="/">Ylös</a></li>
    <li><a href="index.rss">RSS</a></li>
  </ul>
</div>
