<head>
  <title>Tervetuloa</title>
  <link />
</head>

<div id="main">
  <p>Tämä on uusittu fwwm.us.</p>
  <p>Toivottavasti löydät mieleistä luettavaa täältä.</p>
  <div id="newest-changes">
    <h3>Uusimmat päivitykset</h3>
    <ul>
      <li class="newc-item">
        <!-- Uusi vai päivitetty posti. Vain toinen näkyy. -->
        <span class="post-newness post-is-updated">(Uusi!</span>
        <span class="post-newness post-is-new">(Päivitetty</span>
        <!-- päivityspvm -->
        <span class="post-rev-date">2.11.1999</span>)
        <!-- nimi ja linkki -->
        <a class="post-link" href=""><b class="post-name">Artikkelin nimi</b></a>
        <div class="tag-list">
          <ul class="tag-list-oneline" />
        </div>
        <!-- Introduktio -->
        <p class="post-taste"></p>
      </li>
    </ul>
  </div>
</div>
