<head>
  <title>Tervetuloa</title>
  <link />
</head>

<div id="main">

  <p>
    Tervetuloa. Täällä <a href="henkilot/progo.html">Mikael</a> pitää
    blogia ja kirjoittaa mietteitään ylös.
  </p>

  <p>
    Aloittaaksesi voit tutkia tageja painamalla sopivannäköisiä
    <a href="tags/elokuvat.html">sellaisia</a>, tai voit katsella
    tuosta vierestä löytyvää <a href="all.html">Kaikki jutut</a>
    -listaa.
  </p>

  <div id="newest-changes">
    <h1>Uusimmat päivitykset</h1>
    <ul>
      <li class="newc-item">
        <!-- nimi ja linkki -->
        <a class="post-link" href=""><b class="post-name">Artikkelin nimi</b></a>

        <!-- Uusi vai päivitetty posti. Vain toinen näkyy. -->
        <div class="post-date-status">
          <span class="post-newness post-is-updated">Päivitetty</span>
          <span class="post-newness post-is-new">Luotu</span>
          <!-- päivityspvm -->
          <span class="post-rev-date">2.11.1999</span>
        </div>

        <ul class="tag-list-oneline" />

        <!-- Introduktio -->
        <p class="post-taste"></p>
      </li>
    </ul>
  </div>
</div>

<div id="sidebar">
  <ul class="navi-list" id="navigation">
    <li><a href="index.rss">RSS</a></li>
    <li><a href="all.html">Kaikki jutut</a></li>
  </ul>
  <ul class="links-list">
    <li><a href="mailto:mike@fwwm.us">Email</a></li>
    <li><a href="/gallery">Galleria</a></li>
    <li><a href="http://fwwm.us/mrp">Vanha blogi</a></li>
  </ul>
  <ul class="links-list">
    <li><a href="https://github.com/progo/fwwmus---org">Sivuston ORG (lähde)</a></li>
    <li><a href="https://github.com/progo/blogen">Blogen</a></li>
  </ul>
</div>
