@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);

/***  HEADER  ***************************************/

#header {
    margin: 0;
    padding-left: 2em;
    padding-right: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
    font-family: "PT Serif", "Georgia", "Times New Roman", serif;
}

#site-title {
    color: white;
    font-size: 30pt;
    margin: .6em;
}

/*** BODY + main things **/

html {
    height: 700px;              /* by curtain. */
}

body {
    background: url(/templates/floor_isometric3.png) left bottom no-repeat fixed;
    background-color: #501111;
    color: #ffdfbb;
    margin: 0;
    width: 100%;
    height: 700px;              /* by curtain. */
}

/** Need a separate div for other backgrounds */
#backgrounds {
    height: 700px;              /* by curtain. */
    background: url(/templates/up-band.png) repeat-x,
                url(/templates/curtain2.png) right top no-repeat;
}



#main {
    margin-right: 40%;
    margin-left: 3em;
    font-family: "PT Serif", "Georgia", "Times New Roman", serif;
}

#main p {
    line-height: 150%;
}

a {
    color: #dedb73;
}

a:hover {
    color: black;
    background-color: #dedb73;
}


.org-dl dt {
    font-weight: bold;
    color: white;
}

.org-dl dd {
}


/*** Listings ***/

#newest-changes li {
    list-style-type: none;
}

#newest-changes li.newc-item {
    padding: 0.6em;
    margin-bottom: 0.4em;
}

#newest-changes .post-date-status {
    float: right;
}

#article-list .post-rev {
    float: right;
}

/*** All posts list ***/

ul.all-posts-list li .post-rev {
    color: gray;
    float: right;
    /* display: table-cell; */
}

ul.all-posts-list li .post-created {
    /* color: purple; */
    float: right;
}

ul.all-posts-list li {
    margin-bottom: .5em;
    list-style-type: none;
}

/*** CODE ***/

pre.example {
    color: white;
}

#main code {
    background-color: #6a1515;
    color: white;
}

pre.src {
    padding: 0.7em;
    padding-left: 1.4em;
    background-color: #721A1A;
    border-left: dashed 2px red;
    color: white;
}

pre.src .code-keyword           { color: #efad00; }
pre.src .code-builtin           { color: #efeb00; }
pre.src .code-variable-name     { color: #efa400; }
pre.src .code-function-name     { color: yellow; }
pre.src .code-comment-delimiter { color: gray; }
pre.src .code-comment           { color: gray; }
pre.src .code-string            { color: yellow; }
pre.src .code-sh-quoted-exec    { color: red; }
pre.src .code-sh-escaped-newline { }

/***  FOOTER  ***************************************/

#footer {
    /* margin: 0; */
    /* margin-top: 1em; */
    /* background-color: #333; */
    /* color: #ddd; */
    /* padding: 10px; */
}


/***  SIDEBAR  ***************************************/

#sidebar {
    float: right;
    margin-top: 5em;
    width: 35%;
}

#sidebar ul {
    list-style-type: none;
    list-style-position: inside;
    width: 70%;
    margin-right: 10%;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 6px;
    font-size: smaller;
    /* text-transform: uppercase; */
}

/** Link items */
#sidebar ul.links-list li > * {
    background-color: #5f2200;
}

/** Navigational items */
#sidebar ul.navi-list li > * {
    background-color: #922610;
}

/** Information items  */
#sidebar ul.info-list li > * {
    background-color: #e38f21;
}

#sidebar ul.info-list .value {
    text-weight: bold;
}

#sidebar ul.info-list .key {
    float: right;
    color: #ffc271;
    text-transform: uppercase;
}

#sidebar h2 {
    width: 70%;
    text-align: right;
    font-size: smaller;
}

#related-posts > * {
    background-color: #720000;
}


/*** Tag lists ***/

.tag-list-oneline {
    padding-left: 0;
}

.tag-list-oneline li {
    padding: 0;
    padding-right: .5em;
    margin: 0;
    display: inline;
}

.tag-list-oneline li a {
    font-size: smaller;
    padding: .2em;
    /* border-left: thin yellow dotted; */
}

.tag-list-oneline li a:hover {
    color: black;
    background-color: yellow;
}

.tag-list-oneline li > * {
    background-color: #ad1414;
}



#sidebar li > * {
    display: block;
    /* width: 100%; */
    height: 100%;
    padding-left: .7em;
    padding-right: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#sidebar li > a:hover {
    background-color: yellow;
}

.tag-list li a {
    color: #dedb73;
}

.tag-list li a:hover {
    color: black;
}

/* Small usage */
li.tag-0 > * { background-color: #4d1c00; }
/* Medium usage */
li.tag-1 > * { background-color: #762A00; }
/* Good usage */
li.tag-2 > * { background-color: #a23900; }
/* Heavy usage */
li.tag-3 > * { background-color: #d04a00; }



/***** Responsive design stuff ****/

@media screen and (max-width: 800px) {
    #main {
        width: 85%;
    }
    #sidebar {
        float: none;
        margin-left: 20%;
    }
}

@media screen and (min-width: 1416px) {
    body {
        /** This is cool */
        background-size: 100%;
    }
}