<head>
  <title></title>
  <link />
</head>

<div id="header">
  <h1 id="site-title">Life of Progo</h1>
</div>

<div id="sidebar">
  <ul class="navi-list" id="navigation">
    <li><a href="/">Ylös</a></li>
    <!-- <li><a href=".">RSS</a></li> -->
  </ul>
  <ul class="info-list">
    <li>
      <span id="post-created" class="value">12.13.2014</span>
      <span class="key">Luotu</span>
    </li>
    <li>
      <span id="post-modified" class="value">12.13.2014</span>
      <span class="key">Muutettu</span>
    </li>
  </ul>
  <ul class="tag-list" id="tags">
    <li>esim_gentoo</li>
    <li>esim_ubuntu</li>
  </ul>
</div>

<div id="main">
  <div id="content">
    <h2>Tarina</h2>
    <p>Lorem ipsum.</p>
  </div>
  <hr />
  <div id="comments">
    Disqus will appear here.
  </div>
</div>
