<head>
  <title></title>
  <link />
</head>

<div id="header">
  <h1 id="site-title">Life of Progo</h1>
</div>

<div id="sidebar">
  <ul class="navi-list" id="navigation">
    <li><a href="/">Ylös</a></li>
    <li><a href="/all.html">Kaikki jutut</a></li>
    <!-- <li><a href=".">RSS</a></li> -->
  </ul>
  <ul class="info-list">
    <li>
      <div>
        <span id="post-created" class="value">12.13.2014</span>
        <span class="key">Luotu</span>
      </div>
    </li>
    <li>
      <div>
        <span id="post-modified" class="value">12.13.2014</span>
        <span class="key">Päivitetty</span>
      </div>
    </li>
  </ul>
  <ul class="tag-list" id="tags">
    <li>esim_gentoo</li>
    <li>esim_ubuntu</li>
  </ul>

  <h2 id="related-posts-title">Aiheen vierestä</h2>
  <ul id="related-posts">
    <li>
      <a class="rp-url" href=".">
        <span class="rp-title">Posti</span>
      </a>
    </li>
  </ul>
</div>

<div id="main">
  <div id="content">
    <h2>Tarina</h2>
    <p>Lorem ipsum.</p>
  </div>
  <hr />
  <div id="comments">
    Disqus will appear here.
  </div>
</div>
