<head>
  <title>Tagi</title>
  <link />
</head>

<div id="main">
  <div id="by-tag">
    <h3>Jutut tagilla <span class="tag tag-name"></span></h3>
    <ul>
      <li>
        <!-- Uusi vai päivitetty posti. Vain toinen näkyy. -->
        <!-- <span class="post-newness post-is-updated">(Uusi!</span> -->
        <!-- <span class="post-newness post-is-new">(Päivitetty</span> -->
        <!-- päivityspvm -->
        <span class="post-rev-date">2.1.2014</span>
        <!-- nimi ja linkki -->
        <a class="post-link" href=""><b class="post-name">Artikkelin nimi</b></a>
        <!-- Introduktio -->
        <p class="post-taste"></p>
      </li>
    </ul>
  </div>
</div>
