<head>
  <title>Tagi</title>
  <link />
</head>

<div id="main">
  <div id="article-list">
    <h3>
      Jutut tagilla <span class="tag tag-name"></span>
      <a class="tag-rss">[RSS]</a>
    </h3>
    <ul>
      <li>
        <!-- päivityspvm -->
        <span class="post-rev-date">2.1.2014</span>
        <!-- nimi ja linkki -->
        <a class="post-link" href=""><b class="post-name">Artikkelin nimi</b></a>
        <ul class="tag-list-oneline" />
        <!-- Introduktio -->
        <p class="post-taste"></p>
      </li>
    </ul>
  </div>
</div>

<div id="sidebar">
  <ul class="navi-list">
    <li><a href="/">Ylös</a></li>
    <li><a href="/all.html">Kaikki jutut</a></li>
  </ul>
  <ul class="tag-list" id="all-tags-list" />
</div>
